<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="dpr2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\\Users\\Veve\Desktop\\stellar\\New folder\\dpr.accdb;Persist Security Info=false" />
    <add name="dpr"
            connectionString="SERVER=localhost; DATABASE=nustiu; UID=root; PASSWORD=;"
            providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>